*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.icon{
    width: 25px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    margin: auto;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgb(221, 221, 221);
    /* background-color: #eee; */
    /* box-shadow: 0 2px #2b2b2b; */
}

.burger-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    transition: .3s ease;
    border-right: 1px solid rgb(221, 221, 221);
}

.burger-block:hover{
    cursor: pointer;
    background-color: #2b2b2b;
}

.burger-block:hover .burger{
    fill: rgb(219, 219, 219);
}

.header-logo{
    display: flex;
    align-items: center;
    width: calc(100% - 60px);
    height: 100%;
    font-size: 30px;
    font-weight: 100;
    color: #3d3d3d;
    padding-left: 20px;
}

.burger{
    fill: #3d3d3d;
}

.btn{
    border: 0;
    background-color: #3d3d3d;
    font-size: 16px;
    color: #fff;
    width: 150px;
    height: 40px;
    transition: .3s ease;
}

header .btn{
    position: absolute;
    right: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: #2b2b2b;
}

main{
    width: 100%;
    height: 100%;
}

.sidebar-menu{
    width: 60px;
    height: calc(100vh - 60px);
    margin-top: 60px;
    position: fixed;
    transition: .3s ease;
    z-index: 20;
    border-right: 1px solid rgb(221, 221, 221);
    /* box-shadow: 5px 2px 10px -7px#2b2b2b; */
    background-color: #fff;
}

.sidebar-menu.open_sidebar{
    width: 200px;
}

#menu ul li{
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: .3s linear;
}

#menu ul li:hover{
    background-color: #2b2b2b;
    cursor: pointer;
}

#menu ul li:hover .menu-icon, #menu ul li:hover .text{
    fill: rgb(219, 219, 219);
    color: rgb(219, 219, 219);
}

#menu ul li .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.menu-icon{
    width: 30px;
    fill: #505050;
    transition: .3s ease;
}

#menu ul li .text{
    width: 0;
    color: #505050;
}

.content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(233, 224, 224);
}

.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sort_btn, #search_btn{
    position: static;
    background-color: #eee;
    color: #3d3d3d;
}

#sort_btn:hover, #search_btn:hover{
    cursor: pointer;
    background-color: rgb(187, 187, 187);
}

.inp-field{
    height: 40px; 
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}




/*MODAL WINDOW*/

.modal-background{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 1000;
    animation: backgroundOpacity .2s ease-in 0s 1;
    transition: .3s linear;
}

.modal {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 20px;
    width: 600px;
    animation: modalAnim .3s ease-in 0s 1 normal;
    background-color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
}

form .title{
    margin-bottom: 25px;
}

form .inp-field {
    outline: none;
    border: 1px solid #ccc;
    height: 35px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}

.title{
    color: #2b2b2b;
}

.field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2b2b2b;
}

.modal-close{
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 20px;
    transition: .2s ease;
}

#close_modal{
    width: 20px;
    fill: #3d3d3d;
    transition: .2s ease;
}

.modal-close:hover #close_modal{
    cursor: pointer; 
    fill: salmon;
}

#save_btn{
    margin-top: 15px;
    align-self: center;
    width: 100%;
}

@keyframes modalAnim{
    0% {
        opacity: 0.5;
        transform: translateY(-50px) rotateX(70deg);
    }

}

@keyframes backgroundOpacity{
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
}